.brand-outer{background: #333;
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #adadad;
    margin: 0 10px 15px 0;
}
.brand-title{ color: #adadad; font-size: 15px;}
.brands .skip-arrow{}
.brands .skip-arrow{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
    font-family: 'Montserrat-Medium';
}