
<ion-content class="ion-padding">
  <div class="brands">
  <ion-row>
    <ion-col class="ion-text-end skip-arrow">
      <ion-text color="dark" (click)="openRequestedPage('dashboard')"> <h5>Skip</h5> <ion-icon class="ion-padding-right" color="dark" name="arrow-forward-outline"></ion-icon></ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-pading ion-text-center">
    <ion-col size="8" offset="2">
      <p><ion-text><h4>Which <ion-text color="secondary">Brands</ion-text> you are interested in?</h4></ion-text>
        <br/>
        <ion-text class="ion-text-sm" color="dark">You can chose one or more</ion-text>
      </p>
    </ion-col>
  </ion-row>
  <div class="brands-list">
  
    <ion-item>
      <ion-label class="check-button">Acura</ion-label>
      <ion-checkbox [(ngModel)]="acura" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Acura</ion-label>
      <ion-checkbox [(ngModel)]="acura" ></ion-checkbox>
    </ion-item>
  
  
    <ion-item>
      <ion-label>AirStream</ion-label>
      <ion-checkbox [(ngModel)]="airstream" ></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>Alfa Romeo</ion-label>
      <ion-checkbox [(ngModel)]="alfaromeo" ></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>AM General</ion-label>
      <ion-checkbox [(ngModel)]="am-general" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>AMC</ion-label>
      <ion-checkbox [(ngModel)]="amc" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Aston Martin</ion-label>
      <ion-checkbox [(ngModel)]="aston-martin" ></ion-checkbox>    
    </ion-item>
    
    <ion-item>
      <ion-label>Audi</ion-label>
      <ion-checkbox [(ngModel)]="audi" ></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>Austin Healey</ion-label>
      <ion-checkbox [(ngModel)]="austin-healey" ></ion-checkbox>
    </ion-item>
  </div>

  <ion-row lass="ion-pading ion-text-center">
    <ion-col>
      <div *ngFor="let brand of brands" class="brand-outer">
        <ion-text class="brand-title" [innerHTML]="brand"></ion-text>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding">
    <ion-col size="6" offset="3">
      <ion-button type="submit" (click)="openRequestedPage('dashboard')" expand="block" shape="round" color="secondary">Submit</ion-button>
    </ion-col>
  </ion-row>
  </div>
</ion-content>

