.footer-layout {text-align: center;position: absolute;left: 0;right: 0;bottom: 5%;transform: translateY(-50%);}
.login-screen {padding-top: 6.563rem; padding-left: 0.625rem; padding-right: 0.625rem;}
.login-screen .primary-button {margin-top:1.25rem;}
.login-screen #container .input-icon{position: absolute;left: 22px;z-index: 9;top: 29px;}
.login-screen #container .input-icon ion-icon[name="person"]{ color: #999 }

