<ion-card-header class="ion-no-padding ion-padding-horizontal">
  <ion-row>
    <ion-col class="avatar-box ion-d-flex" size="9">
      <div class="avatar-img">
        <img src="../assets/icon/sm-icon.png">
      </div> 
      <ion-text class="ion-text-uppercase" color="primary">{{ vehicle.user.business_name }}</ion-text>
    </ion-col>
    <ion-col class="ion-text-end ellipsis-icon">
      <ion-icon name="ellipsis-horizontal-outline" color="primary"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card-header>

<ion-card-content class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding">
      <div class="bookmark-box">
        <span class="bookmark-text">Gotta Go</span>
        <div *ngIf="!addedToBookMark" class="bookmark-icon inactive" (click)="handleAddToBookmark()"><ion-icon name="bookmark"></ion-icon></div>
        <div *ngIf="addedToBookMark" class="bookmark-icon active" (click)="handleRemoveFromBookmark()"><ion-icon name="bookmark" color="secondary"></ion-icon></div>
      </div>
      <img *ngIf="vehicle.vehicle_image else placeholderImage" [routerLink]="['/','car-details', vehicle.vehicle_id]" src="{{'data:image/jpeg;base64,' + vehicle.vehicle_image}}">

      <ng-template #placeholderImage>
        <img [routerLink]="['/','car-details', vehicle.vehicle_id]" src="../assets/images/car-lg.png">
      </ng-template>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal card-box">
    <ion-col class="ion-no-padding" size="7">
      <ion-card-title color="primary"><h2>${{ vehicle.retail_price }}</h2></ion-card-title>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-end" size="5">
      <ion-card-subtitle color="primary"><p>{{ vehicle.vehicle_make_year }}{{ (vehicle.vehicle_travelled) ? " - "+vehicle.vehicle_travelled + " KM" : "" }}</p></ion-card-subtitle>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-no-padding">
      <ion-card-subtitle color="primary" ><h5>{{ vehicle.model.model_title }}</h5></ion-card-subtitle>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal ion-padding-bottom">
    <ion-col class="ion-no-padding card-location" size="8">
      <ion-icon *ngIf="vehicle.vehicle_location" name="location-outline" ></ion-icon> <p>{{ vehicle.vehicle_location }}</p>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-end" size="4">
      <p><ion-datetime color="primary" displayFormat="DD MMM" [value]="vehicle.created_at"></ion-datetime></p>
    </ion-col>
  </ion-row>
  
</ion-card-content>