<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    
    <div><ion-text color="primary">Let's get started!</ion-text></div>
    <div><ion-text color="dark">Create and account</ion-text></div>

    <section>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.business_name" required type="text" autocomplete="off" name="business_name" placeholder="Business Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.user_name" required type="text" autocomplete="off" name="username" placeholder="Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.user_email" required type="email" autocomplete="off" name="user_email" placeholder="Email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.password" required type="password" autocomplete="off" name="password" placeholder="********"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.user_phone" required type="text" autocomplete="off" name="user_phone" placeholder="Phone"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.city" required type="text" autocomplete="off" name="city" placeholder="City"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.state" required type="text" autocomplete="off" name="state" placeholder="State"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="postData.zipcode" required type="text" autocomplete="off" name="zipcode" placeholder="Zip Code"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button shape="round" autocomplete="off" color="secondary" (click)="signAction()">Create</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </section>
  </div>


  <div class="footer-layout">
    <div>
      <ion-text color="dark">Already have an account? </ion-text><ion-text routerDirection="forward" routerLink="/login" color="secondary">Login here</ion-text>
    </div>
  </div>
</ion-content>
