.footer-layout {text-align: center; padding-bottom: 15px;}
.register{ padding-top: 2.688rem; padding-left: 0.625rem; padding-right: 0.625rem;}
.register .primary-button{ margin-bottom: 4.063rem; margin-top: 0.625rem;}
.register #container .input-icon{position: absolute;left: 22px;z-index: 9;top: 29px;}
.register #container .input-icon ion-icon[name="person"]{ color: #999 }