<ion-header>
  <ion-toolbar class="bg-dark px-2" >
    <ion-buttons slot="start">
      <ion-icon (click)="backRedirect()" class="ion-padding-left" color="primary" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-icon (click)="openActionSheetController()" class="ion-padding-right" color="primary" name="ellipsis-horizontal-outline"></ion-icon>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class=" bg-grey" [fullscreen]="true">
  <div class="user-profile">
  <div *ngIf="userData">
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-no-padding ion-text-center" size="3">
        <div class="user-img">
          <img src="../assets/images/user-icon.png" >
        </div>
        
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-row>
          <ion-col class="ion-no-padding border-right">
            <p>
              <ion-text><strong><h6>{{totalVehicles ? totalVehicles : '0'}}</h6></strong></ion-text>
              <ion-text><p>Vehicle</p></ion-text>
            </p>
          </ion-col>
          <ion-col class="ion-no-padding">
            <p>
              <ion-text><strong><h6>{{soldVehicles ? soldVehicles : '0'}}</h6></strong></ion-text>
              <ion-text><p>Sold Vehicles</p></ion-text>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" shape="round" class="primary-button"expand="full" >Send Message</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <h2><ion-text>{{ userData.user_name }}</ion-text></h2>
          <div class="profile-date">
        <p>Member Since </p>
          <p><ion-datetime displayFormat="MMM YYYY" [value]="userData.created_at"></ion-datetime>
        </p>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-padding-horizontal profile-read-more">
      <ion-col>
        <ion-text><p>Certified and Approved used cars avialable by trusted destination to buy your preowned cars...</p></ion-text>
      </ion-col>
    </ion-row>

    <ion-segment 
    value="all" 
    color="tertiary" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)" class="ion-no-padding ion-padding-top segment-tab bg-dark">

      <ion-segment-button value="viso">
        <ion-label>Viso</ion-label>
      </ion-segment-button>

      <ion-segment-button value="handholdings">
        <ion-label>Hand Holdings</ion-label>
      </ion-segment-button>

      <ion-segment-button value="gottago">
        <ion-label>Gotta Go</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-card *ngIf="segmentModel === 'viso'" class="ion-no-padding ion-no-margin">
      <!-- <ion-card-header>
        <ion-card-subtitle>Segment Content</ion-card-subtitle>
        <ion-card-title>Viso</ion-card-title>
      </ion-card-header> -->
    
      <ion-card-content class="ion-no-padding">
        <img src="../../../assets/images/profile-listing.png">
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="segmentModel === 'handholdings'" class="ion-no-padding ion-no-margin">    
      <ion-card-content class="ion-no-padding">
        <img src="../../../assets/images/profile-listing.png">
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="segmentModel === 'gottago'" class="ion-no-padding ion-no-margin">    
      <ion-card-content class="ion-no-padding">
        <img class="img-wrapper" src="../../../assets/images/profile-listing.png">
      </ion-card-content>
    </ion-card>
    
  </div>
</div>
<div class="profile-grid-outer">
  <div class="grid-list">
  <ion-row class="ion-padding-horizontal ">
     <ion-col>
      <ion-card>
        <div class="list-bookmark inactive" >
          <ion-icon name="bookmark"></ion-icon>
        </div>
        <ion-thumbnail>
        <img class="img-wrapper" src="../../../assets/images/car-lg.png">
      </ion-thumbnail>
      <div class="list-title"><h6>2013 Rapide S</h6>
      </div>
      </ion-card>
    </ion-col>
  
    <ion-col>
      <ion-card>
        <div class="list-bookmark inactive" >
          <ion-icon name="bookmark"></ion-icon>
        </div>
        <ion-thumbnail>
        <img class="img-wrapper" src="../../../assets/images/car-lg.png">
      </ion-thumbnail>
      <div class="list-title"><h6>ALFA ROMEO 4C. 1 Generation</h6>
      </div>
      </ion-card>
    </ion-col>
  
   <ion-col >
      <ion-card>
        <div class="list-bookmark inactive" >
          <ion-icon name="bookmark"></ion-icon>
        </div>
        <ion-thumbnail>
        <img class="img-wrapper" src="../../../assets/images/car-lg.png">
      </ion-thumbnail>
      <div class="list-title"><h6>BMW 507</h6>
      </div>
      </ion-card>
    </ion-col>
  
  <ion-col class="lg-img">
      <ion-card>
        <div class="list-bookmark inactive" >
          <ion-icon name="bookmark"></ion-icon>
        </div>
        <ion-thumbnail>
        <img class="img-wrapper" src="../../../assets/images/car-lg.png">
      </ion-thumbnail>
      <div class="list-title"><h6>BMW 507</h6>
      </div>
      </ion-card>
    </ion-col>
  
  <ion-col>
      <ion-card>
        <div class="list-bookmark inactive" >
          <ion-icon name="bookmark"></ion-icon>
        </div>
        <ion-thumbnail>
        <img class="img-wrapper" src="../../../assets/images/car-lg.png">
      </ion-thumbnail>
      <div class="list-title"><h6>BMW 507</h6>
      </div>
      </ion-card>
    </ion-col>
  
   <ion-col>
      <ion-card>
        <div class="list-bookmark inactive" >
          <ion-icon name="bookmark"></ion-icon>
        </div>
        <ion-thumbnail>
        <img class="img-wrapper" src="../../../assets/images/car-lg.png">
      </ion-thumbnail>
      <div class="list-title"><h6>BMW 507</h6>
      </div>
      </ion-card>
    </ion-col>
    
  
    </ion-row>
  </div>
  </div>
 
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerDirection="forward" routerLink="/dashboard">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label >Search</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="openVehicleForm()">
          <ion-icon name="add-outline"></ion-icon>
          <ion-label >New Vehicle</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" >
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label color="secondary">Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
