#container {text-align: center;padding-top: 20%;}
#container strong {font-size: 20px;line-height: 26px;}
#container p {font-size: 13px;line-height: 22px;margin: 0; margin: 0px;}
#container a {text-decoration: none;}
#container { padding: 0px 20px;}

input.native-input.sc-ion-input-md{border-radius: 15px;border: 2px solid #f6f6f6;padding: 10px 20px;margin-bottom: 15px;}


/************* Custom Global Styles **************/
.search-container{ padding: 15px 20px; background: #343434;}
.select-input{ border-color: #ffffff;}
.ion-border-bottom{border-bottom: 1px solid;}
.border-primary{ border-color: #ffffff;}
.border-secondary{ border-color: #ee2489;}
.primary-text{color:#ee2489;}
.primary-button{--background: var(--ion-color-btn); font-size: 0.938rem; font-family: Montserrat-SemiBold; text-transform: uppercase;}
.color-black{color:#000000;}
.color-light{color:#b5b5b5;}
.border-light{ border-color: #e88441;}
.border-dark{ border-color: #7f7f7f;}
.bg-gradient{ background: -webkit-linear-gradient(top right, #ee2489 0%, #ee2489 51%, #e88442 100%);}

.card{ background: #ffffff;}
.bg-primary{ --background:#ffffff; background: #ffffff;}
.bg-dark{ --background: #1b1b1b; background: #1b1b1b;}
.bg-grey{ --background: #343434; background: #343434;}
.bg-white{ --background: #ffffff; background: #ffffff;}

.ion-no-radius{ border-radius: 0;}
ion-card.card img{width: 100%;}
ion-header.ios.header-ios img{ width: auto;}
h1{font-size: 1.25rem; font-weight: bold; margin: 0px;}
h6{ margin: 0px !important;}
p{font-size:0.813rem;font-family: Montserrat-Medium;color: #999999;margin: 0px;}
.native-input.sc-ion-input-ios {background: #fff;color: #242323;text-align: left;padding:0.875rem 1.25rem;
    border-radius: 2.938rem; border: none; margin-top: 0.625rem;font-size: 0.813rem; font-family: 'Montserrat-Medium'; }
 .pl .native-input.sc-ion-input-ios{ padding-left: 40px !important;} 
 p.text-color{color: #fff;}
 .fs-6{ font-size: 11px;}
 .mt-0 .native-input.sc-ion-input-ios{margin-top: 0rem;}
 .alert-wrapper.sc-ion-alert-ios{background: #1b1b1b;font-family: 'Montserrat-Medium';    font-size: 14px;}
 .header-ios ion-toolbar:last-of-type{--border-width:0px;}
 .footer-ios ion-toolbar:first-of-type { --border-width: 0px;}
 ion-toggle {
    --background: #dfe1e6;
    --background-checked: -webkit-linear-gradient(top right, #ee2489 0%, #ee2489 51%, #e88442 100%);
  
    --handle-background: #fff;
    --handle-background-checked: #fff;
  }
  ion-toggle { width: 60px;height: 30px;}
  .vin-input .native-input.sc-ion-input-ios{margin-top: 0rem;}
  .ellipsis-icon{font-size: 1.875rem;}
  .avatar-img{  width: 1.875rem; height: 1.875rem;border-radius: 100%;
    margin-right: 0.625rem; font-family: "Montserrat-SemiBold";}
    .avatar-img img{ object-fit: cover;object-position: center;width: 1.875rem;
        height: 100%;border-radius: 100%;}
  .avatar-box{display: flex;align-items: center;  color: #fff; font-size: 11px;font-weight: 500;}
.action-sheet-group.sc-ion-action-sheet-ios{ background: #1b1b1b; color:#fff}
  button.action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel.sc-ion-action-sheet-ios{ background: linear-gradient(
            90deg, #ee2b86 0%, #e88145 78%); font-size: 0.938rem; font-family: Montserrat-SemiBold; text-transform: uppercase;}
  .action-sheet-cancel.sc-ion-action-sheet-ios::after{ background: transparent;}
   .action-sheet-title.sc-ion-action-sheet-ios{ font-size: 14px;font-family: Montserrat-SemiBold;}
   .action-sheet-title.sc-ion-action-sheet-ios { font-size: 15px;font-family: 'Montserrat-Bold'; color: #fff;}
 .brands ion-item{--padding-start: 0px !important;--inner-padding-end: 0px !important;
                --inner-border-width: 0px !important;}
on-tab-button { --color: var(--ion-color-medium); --color-selected: var(--ion-color-primary);}
                  