.footer-layout {text-align: center;position: absolute;left: 0;right: 0;bottom: 5%;transform: translateY(-50%);}
.forgot-screen {margin-top:6rem; display: flex; align-items: center; flex-direction: column; justify-content: center; padding-left: 0.625rem; padding-right: 0.625rem;}
.forgot-screen .primary-button {margin-top:1.25rem;}
.forgot-screen #container .input-icon{position: absolute;left: 22px;z-index: 9;top: 29px;}
.forgot-screen #container .input-icon ion-icon[name="person"]{ color: #999 }

