inner-scroll{
    padding: 0;
    padding-inline-start:unset;
    padding-inline-end: unset;
}
ion-item {
    --padding-start: 0;
    --background-focused: #7f7f7f;
    ion-label {
      margin-top: 3px;
      margin-bottom: 6px;
      font-size: 14px;
    }
  
    ion-input,
    ion-textarea,
    select,
    input {
    //   border: 1px solid #cbcbcb;
      border-radius: 3px;
      font-size: 13px;
      --padding-start: 10px;
    }
  }
  
  ion-col {
    --ion-grid-column-padding: 0 5px;
  }
  
  ion-slides {
    height: 100%;
  
    ion-slide {
      align-items: flex-start;
    }
  
    .swiper-slide {
      visibility: hidden;
    }
    ion-slide.ios.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active{padding: 4px 23px !important; display: block !important;}
    .swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active{padding: 4px 23px !important; display: block !important;}
    .swiper-slide.swiper-slide-active {
      visibility: visible;
    }
    ion-text.ion-color.ion-color-danger.md.hydrated {
      display: none;
  }
  }
 
  
  select,
  input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 8px 6px;
  }
  
  .line {
    height: 3px;
    background: var(--ion-color-light-shade);
    top: 14px;
    z-index: -1;
  }
  
  .img-thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  ion-select.select-input {
   width: 100%;
    padding-left: 10px;
    font-size: 12px;
    font-family: 'Montserrat-Medium'; 
    border-radius: 30px;
    padding: 13px 21px;
    padding-right: 17px;
}

.primary-button.button-back{
  width: 45%;
}
.step-button {
  width: 45%;
  float: right;
}
ion-icon.close-icon {
  font-size: 28px;
}
.step-header h6{ font-size: 1rem; font-family: 'Montserrat-SemiBold'; margin:0px; }
.step-header {
  padding: 16px 0px;
  padding-top: 25px;
}
.button-group {
  padding: 18px 12px;
}
.inner-header h5{ margin: 0px; font-size: 0.938rem; padding-left:10px;font-family: 'Montserrat-SemiBold'; }
.label-stacked.sc-ion-label-ios-h{ align-self: auto;margin-bottom: 0px; }
.label-stacked{ align-self: auto;margin-bottom: 0px; font-size: 14px; }
.label-stacked.sc-ion-label-md-h{-webkit-transform: inherit;}
.tool-list{display: flex; justify-content: space-between;
  align-items: center;
  background: #1e1d1d;color: #999; text-align: left;padding: 0.438rem 1.25rem;
    border-radius: 2.938rem;border: none; margin-top: 0rem;font-size: 0.813rem;
    font-family: 'Montserrat-Medium';margin-bottom: 1.25rem;}
    .sc-ion-label-ios-s h5, .sc-ion-label-md-s h5{font-size: 0.75rem;}
    .tool-list h5{color:#898787;}
    
  
  .vehicle-modal .bookmark-icon{
    background: linear-gradient(
90deg, #ee2b86 0%, #e88145 78%);
    border-radius: 100%;
    width: 1.938rem;
    height: 1.938rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 1.188rem;
}
.vehicle-modal .bookmark-box{
  display: flex;
  justify-content: end;
  padding: 0px 14px;
  position: absolute;
  width: 100%;
  top: 16px;
  color: #fff;
  align-items: center;
} 

.action-sheet-group.sc-ion-action-sheet-ios{ background: #1b1b1b; color:#fff}
.vehicle-modal {
  padding-bottom: 1.25rem;
  ion-item.fieldGroupItem input{padding-left: 21px !important;}
}
