
<ion-header class="inner-header py-2">
  <ion-toolbar class="ion-no-padding bg-dark">
    <ion-buttons slot="start">
      <ion-icon class="ion-padding-left primary close-icon" (click)="backRedirect()" color="primary" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <h5 *ngIf="vehicle" class="ion-text-uppercase">{{ vehicle.make.make_title }} {{ vehicle.model.model_title }}</h5>
  
    <ion-buttons slot="end">
      <ion-icon class="ellipsis-icon" color="primary" name="ellipsis-horizontal-outline"></ion-icon>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-grey" [fullscreen]="true">
  <div class="car-details">
  <section *ngIf="vehicle; else noProduct">
    <div class="top-banner">
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="bookmark-box">
            <div class="bookmark-icon"><ion-icon name="bookmark"></ion-icon></div>
          </div>
          <img [src]="(vehicleImage) ? vehicleImage : '../assets/images/ford-car-01.png' " >
        </ion-col>
      </ion-row>
      <div class="car-price">
        <ion-row class="ion-padding-horizontal">
          <ion-col class="ion-no-padding" size="8">
            <ion-card-subtitle><h5>2016 FORD F-150</h5></ion-card-subtitle>
            <div class="location-text">
              <ion-icon name="location-outline" color="color-black"></ion-icon> 
              <p>4980 Vanderbilt St, Ontario, CA 91761 </p>
            </div>
          </ion-col>
          <ion-col class="ion-no-padding ion-text-end" size="4">
            <ion-text><h5>$41,999 </h5></ion-text>
            <p color="primary">10,682 miles</p>
          </ion-col>
        </ion-row>
       
      </div>
    </div>

    <ion-row class="bg-dark ion-no-padding py-2">
      <ion-col class="avatar-box" size="9">
        <div class="avatar-img">
          <img src="../assets/icon/sm-icon.png"> 
        </div>
        <ion-text class="ion-text-uppercase">{{ vehicle.user.business_name }}</ion-text>
      </ion-col>
      <ion-col class="ion-text-middle icon-rt">
        <div class="icon-outer-bg ">
        <ion-icon name="call-outline"></ion-icon>
      </div>
      <div class="icon-outer-bg ">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </div>
      </ion-col>
    </ion-row>

    <ion-card class="card list-outer ion-no-margin ion-no-radius">        
      <ion-card-header>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text  color="primary "> <h4>Car Overview</h4> </ion-text>
          </ion-col>
        </ion-row>
      </ion-card-header>
    
      <ion-card-content class="details-list">
        <ion-row class="ion-border-bottom border-dark ">
          <ion-col size="6" class="ion-text-start"><ion-text>Body</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text>{{ vehicle.body.body_title }}</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-border-bottom border-dark">
          <ion-col size="6" class="ion-text-start"><ion-text>Year</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text>{{ vehicle.vehicle_make_year }}</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-border-bottom border-dark">
          <ion-col size="6" class="ion-text-start"><ion-text>External Color</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text>{{ vehicle.exterior.color_title }}</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-border-bottom border-dark">
          <ion-col size="6" class="ion-text-start"><ion-text>Internal Color</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text>{{ vehicle.interior.color_title }}</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-border-bottom border-dark">
          <ion-col size="6" class="ion-text-start"><ion-text>Cylinder</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text>{{ vehicle.type.type_title }}</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-border-bottom border-dark">
          <ion-col size="6" class="ion-text-start"><ion-text>Transmission</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text>{{ vehicle.transmission.transmission_title }}</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-border-bottom border-dark">
          <ion-col size="6" class="ion-text-start"><ion-text>Mileage</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text>{{ vehicle.vehicle_mileage }}</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-border-bottom border-dark">
          <ion-col size="6" class="ion-text-start"><ion-text>Trim</ion-text></ion-col>
          <ion-col size="6" class="ion-text-end text-bold"><ion-text> XLT SuperCrew LB 4WD </ion-text></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </section>

  <ng-template #noProduct>

  </ng-template>
</div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerDirection="forward" routerLink="/dashboard">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label >Search</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="openVehicleForm()">
          <ion-icon name="add-outline"></ion-icon>
          <ion-label >New Vehicle</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" >
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
