.search-outer {
  ion-thumbnail{width: 100%; height: 100%; }
    ion-thumbnail img {width: 100%;object-fit: cover;height: 100%;object-position: center;}
    h6{ font-family: 'Montserrat-Bold'; font-size: 0.875rem; padding-top: 0.625rem;}
    ion-select.select-input{
        color: #000;
        width: 100%;padding-left:0.625rem;  font-family: "Montserrat-Medium";
        background: #fff;border-radius: 1.875rem; height:40px;}
    .select-outer-box ion-col{  width: 26%; padding: 0.25rem; margin-top: 0.375rem;}
    .button-native{padding-inline-start: 0px;padding-inline-end: 0px;}
    .primary-button{font-size: 0.688rem; width: 100%; margin:0;padding:0;height:40px; }
    .search-container{padding: 0.938rem 0.563rem;}
    
    .search-top{ position: relative; }
    .search-icon{position: absolute;top:50%; transform:translateY(-50%)
        ; -webkit-transform:translateY(-50%); z-index: 9; left: 1.3rem;}
  
    .card {border-radius: 0px; margin-bottom: 0rem; margin-top: 0.813rem;}
     h2 {font-size: 1rem; font-family: 'Montserrat-SemiBold'; margin-top: 0.813rem; margin-bottom: 0px;}
    .card-content-ios p{padding: 0px;font-family: 'Montserrat-Medium'; color:#000; font-size:0.75rem; margin-bottom: 0.375rem;}
    .card-content-ios {padding-top: 0;padding: 0px;color: #000; font-size: 12px;}
    .list-text { padding-right: 0.625rem;padding-left: 0.625rem;}
    .search-location{display: flex;align-items: center;}
    .search-location p{ margin-bottom: 0px; font-size: 0.688rem !important;}
     .card ion-icon.ios{font-size: 1.063rem;color:#000 !important;}
     .search-address{display: flex; align-items: center; color: #000;
        font-size: 18px;}
     .search-date{color: #999 !important;font-family: "Montserrat-Medium";font-size: 0.688rem;}
    .list-view h5{font-size: 0.813rem !important;font-family: 'Montserrat-SemiBold';margin: 0rem;}

    .bookmark-box{position: absolute;left: 0.5rem;top: 0.25rem;}
    span.bookmark-text {
        background: linear-gradient(90deg, #ee2b86 0%, #e88145 78%);
        font-size: 0.625rem;
        text-transform: uppercase;padding: 0.25rem 0.75rem;border-radius:2.313rem;font-family: "Montserrat-Bold";
        letter-spacing: 1px; color: #fff; font-size: 0.438rem;
    }
    .grid-list ion-row{display: grid;grid-template-columns: repeat(3, 1fr);gap: 3px;}
    .grid-list{
        ion-thumbnail{width: 100%;height: 100px;img{  width: 100%;height: 100%;}}
        h6{position: absolute; bottom: 10px;width: 100%;text-align: center;  }
        .list-bookmark {position: absolute;right: 6px;top: 7px;font-size: 17px;}
    }
    ion-card-header+.card-content-md{padding-right: 0px;
     padding-left: 0px;padding-bottom:0px;}
     .card-content-md p{font-size: 13px; color:#000000;}
     ion-card-header+.card-content-md .datetime-text {color: #999 !important;}
}
.top-tab .ion-color.sc-ion-label-ios-h{font-size: 0.75rem !important;font-family: 'Montserrat-SemiBold'}

.img-wrapper {width: 100%;background-size: cover;background-repeat: no-repeat;}
.ion-col-width{ width: 100% !important; display: inline-block;max-width: 100% !important;}

ion-segment {
    display: flex;
    justify-content: center;
}
ion-segment-button{
    background:transparent !important;
    border-bottom:2px solid transparent;
    border-radius: 0;
}
ion-segment-button[aria-selected="true"]{
    border-bottom:2px solid #ee2b86;
}
ion-segment-button {
    --indicator-height: 0px;
}
  
.search-outer.list-view-box .bookmark-box{position: absolute; left: 0px;justify-content: start;top: 6px;padding-left: 6px;}