<ion-row class="search-outer list-view-box">
  <ion-col class="ion-no-padding" size="4">
    <div class="bookmark-box">
      <span class="bookmark-text">Featured</span>            
    </div>
    <ion-thumbnail>
      <img *ngIf="vehicle.vehicle_image else placeholderImage" class="img-wrapper" [routerLink]="['/','car-details', vehicle.vehicle_id]" src="{{'data:image/jpeg;base64,' + vehicle.vehicle_image}}">

      <ng-template #placeholderImage>
        <img class="img-wrapper" [routerLink]="['/','car-details', vehicle.vehicle_id]" src="../assets/images/car-lg.png">
      </ng-template>
    </ion-thumbnail>
  </ion-col>
  <ion-col class="ion-no-padding list-text" size="8">
    <ion-card-header class="ion-no-padding" >
      <ion-card-title class="color-black"><h2>${{ vehicle.retail_price }}</h2></ion-card-title>                
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle><p>{{ vehicle.model.model_title }}</p></ion-card-subtitle>
      <ion-card-subtitle><p>{{ vehicle.vehicle_make_year }}{{ (vehicle.vehicle_travelled) ? " - "+vehicle.vehicle_travelled + " KM" : "" }}</p></ion-card-subtitle>
      <ion-row class="search-location">
        <ion-col class="ion-no-padding search-address" size="10">
          <ion-icon name="location-outline"></ion-icon><p>{{ vehicle.vehicle_location }}</p> 
        </ion-col>
        <ion-col class="ion-no-padding ion-text-end search-date" size="2">
          <p><ion-datetime color="primary" displayFormat="DD MMM" [value]="vehicle.created_at"></ion-datetime></p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-col>
</ion-row>