<ion-header>
  <ion-row class="bg-dark ion-padding-horizontal border-primary">
    <ion-col class="header-logo" size="9">
    
      <img src="../assets/icon/sm-icon.png"> 
      <ion-text class="ion-text-uppercase" color="primary"><h6>Dealer Strip</h6></ion-text>
    
    </ion-col>
    <ion-col class="ion-text-end chat-icon">
      <ion-icon color="primary" name="chatbubble-ellipses-outline"></ion-icon>
      <div class="chat-number bg-gradient">
        <p class="text-color fs-6">23</p>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="vehicles" class="bg-grey content-container dashboard">
    <ion-card *ngFor="let vehicle of vehicles" class="card ion-no-margin ion-no-radius">
      <app-product-dashboard-view [vehicle]="vehicle" [addedToBookMark]="wishList ? wishList.indexOf(vehicle.vehicle_id) >= 0: false"></app-product-dashboard-view>
    </ion-card>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerDirection="forward" routerLink="/dashboard">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label color="secondary">Home</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label >Search</ion-label>
        </ion-tab-button>
        <ion-tab-button class="vehicle-icon" (click)="openVehicleForm()">
          <ion-icon name="add-outline"></ion-icon>
          <ion-label >New Vehicle</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" >
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>