
 
    .header-logo {display: flex; align-items: center;  font-family: 'Montserrat-Medium';}
    .chat-icon.ios{font-size: 1.625rem;display: flex;align-items: center;justify-content: end;}
    .chat-number {position: absolute; top: 3px; right: -2px; height: 1.063rem; width:1.063rem; border-radius: 100%;line-height: 1.063rem;
        text-align: center;}
    body .dashboard .chat-number p{ color: #ffffff !important;}
    ion-header{padding: 0.188rem 0rem;}
    .dashboard h2{ font-size: 1.125rem; margin: 0px;font-family: 'Montserrat-Bold'; }
    .dashboard .card-box{ padding-top: 10px;}
    .dashboard .card-content-ios p{color:#ffffff;  font-family: 'Montserrat-Medium';  font-size:0.75rem;}
    .dashboard h5{ color: #ffffff;padding-top: 7px;font-family: 'Montserrat-SemiBold';  font-size:14px;}
    .card-location { display: flex;align-items: center; gap: 4px; margin-top: 7px; color:#fff;}
    .card-content-ios p { margin-bottom:0px; padding-bottom:0px;}
    ion-card-header+.card-content-ios{margin-bottom:10px;}
    ion-card-header{padding: 4px 9px; }
    .dashboard .card{border-bottom: 1px solid #ddd;}
    
        .bookmark-icon{background: linear-gradient(90deg, hsla(332, 85%, 55%, 1) 0%, hsla(22, 78%, 59%, 1) 78%); border-radius: 100%;
            width:1.938rem;height: 1.938rem;line-height: 2.25rem;text-align: center;font-size: 1.188rem;
        }
        .dashboard .card {
            background: transparent;
        }
        .dashboard .card-location{ margin-top:0px;}
    