/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Import Custom Fonts */
@font-face {   
  font-family: 'Montserrat-Black';    //This is what we are going to call
  src: url('./assets/fonts/Montserrat-Black.ttf');
}
@font-face {   
  font-family: 'Montserrat-Bold';    //This is what we are going to call
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}
@font-face {   
  font-family: 'Montserrat-Medium';    //This is what we are going to call
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
@font-face {   
  font-family: 'Montserrat-SemiBold';    //This is what we are going to call
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

:root {
    --ion-background-color: #1b1b1b;
    --ion-background-color-rgb: 255,255,255;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 0,0,0;
    
    
    --ion-color-primary: #ffffff;
    --ion-color-primary-rgb: 255,255,255;
    
    --ion-color-secondary: #ee2489;
    --ion-color-secondary-rgb: 238,36,137;
    
    --ion-color-light: #e88441;
    --ion-color-light-rgb: 232,132,65;

    --ion-color-black: #000000;
    --ion-color-dark-rgb: 127,127,127;

    --ion-color-dark: #7f7f7f;
    --ion-color-dark-rgb: 127,127,127;
    --ion-color-btn:-webkit-linear-gradient(top right, #ee2489 0%, #e88442 100%, #e88442 100%, #e88442 100%);
  
    
  
    --ion-color-step-50: #f2f2f2;
    --ion-color-step-100: #e6e6e6;
    --ion-color-step-150: #d9d9d9;
    --ion-color-step-200: #cccccc;
    --ion-color-step-250: #bfbfbf;
    --ion-color-step-300: #b3b3b3;
    --ion-color-step-350: #a6a6a6;
    --ion-color-step-400: #999999;
    --ion-color-step-450: #8c8c8c;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #737373;
    --ion-color-step-600: #666666;
    --ion-color-step-650: #595959;
    --ion-color-step-700: #4d4d4d;
    --ion-color-step-750: #404040;
    --ion-color-step-800: #333333;
    --ion-color-step-850: #262626;
    --ion-color-step-900: #191919;
    --ion-color-step-950: #0d0d0d;
    h1{font-size: 1.25rem;  margin: 0px;font-family: 'Montserrat-Bold';}
    ion-button.primary-button.button-solid.button-strong.ion-activatable.ion-focusable{
      --background-activated: #e03174;
      --background-focused: #ee2489;
      --background-hover: #ee2489;
      --background-activated-opacity: 1;
      --background-focused-opacity: 1;
      --background-hover-opacity: 1;
  }
  ion-button.primary-button.ios.button.button-full.button-round.button-solid.ion-activatable.ion-focusable{
    --background-activated: #e03174 !important;
    --background-focused: #ee2489  !important;
    --background-hover: #ee2489  !important;
    --background-activated-opacity: 1;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1; 
  }
  ion-button.primary-button.ios.button.button-round.button-solid.ion-activatable.ion-focusable
  {
    --background-activated: #e03174 !important;
    --background-focused: #ee2489  !important;
    --background-hover: #ee2489  !important;
    --background-activated-opacity: 1;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1; 
  }
    }


