
<ion-header class="search-header">
  <ion-toolbar>
    <ion-tabs class="top-tab">
      <ion-tab-bar slot="top">
        <ion-tab-button tab="viso">
          <ion-label color="primary">Viso</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="number-now">
          <ion-label color="primary">Number Now</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="gotta-go">
          <ion-label color="primary">Gotta Go</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="saved">
          <ion-label color="primary">Saved</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-outer">
  <div class="search-container">
    <ion-text color="primary" class="color-secondary ion-text-uppercase ion-text-center"><h6>Search Available Vehicle Inventory</h6></ion-text>
    <div class="search-form-section">
      <form #form="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col class="search-top">
              <ion-icon class="search-icon" color="dark" name="search-outline"></ion-icon>
              <ion-input class="pl" required type="text" name="s" placeholder="Search by name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="select-outer-box">
            <ion-col>
              <ion-select class="select-input" placeholder="Year">
                <ion-select-option value="2021">2021</ion-select-option>
                <ion-select-option value="2020">2020</ion-select-option>
                <ion-select-option value="2019">2019</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-select class="select-input" placeholder="Make">
                <ion-select-option value="">Make</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-select class="select-input" placeholder="Model">
                <ion-select-option value="">Model</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-button type="submit" class="primary-button"shape="round" >Search</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>

  <div class="content-view-options">
    <ion-row class="ion-text-center ion-border-bottom border-primary list-view">
      <ion-col class="ion-padding">
        <ion-text color="primary"><h5>Grid View</h5></ion-text>
      </ion-col>
      <ion-col class="ion-border-bottom border-secondary ion-padding">
        <ion-text color="secondary"><h5>List View</h5></ion-text>
      </ion-col>
    </ion-row>
  </div>
  <!-- <div class="content-container">

    <div class="grid-list">
      <ion-row >
       <ion-col class="ion-no-padding">
          <div class="list-bookmark">
             <ion-icon name="bookmark"></ion-icon>
          </div>
           <ion-thumbnail>
              <img [routerLink]="['/','car-details', item.ID]" src="../assets/images/car-01.png" width="100%">
            </ion-thumbnail>
            <div class="list-title">
              <h6>2012 dodge</h6>
            </div>
         </ion-col>

         <ion-col class="ion-no-padding">
          <div class="list-bookmark">
             <ion-icon name="bookmark"></ion-icon>
          </div>
           <ion-thumbnail>
              <img [routerLink]="['/','car-details', item.ID]" src="../assets/images/car-01.png" width="100%">
            </ion-thumbnail>
            <div class="list-title">
              <h6>2012 dodge</h6>
            </div>
         </ion-col>
   </ion-row>
    </div>
  </div>  -->

<div class="content-container">
   
   <ion-card *ngFor="let item of items" class="card">
      <ion-row class="search-list">
        <ion-col class="ion-no-padding" size="4">
          <div class="bookmark-box">
            <span class="bookmark-text">featured</span>
         
          </div>
          <ion-thumbnail>
            <img [routerLink]="['/','car-details', item.ID]" src="../assets/images/car-01.png" width="100%">
          </ion-thumbnail>
        </ion-col>
        <ion-col class="ion-no-padding list-text" size="8">
          <ion-card-header class="ion-no-padding" >
            <ion-card-title class="color-black"><h2>$110,500</h2></ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content>
            <ion-card-subtitle><p>Dodge Challenge SRT</p></ion-card-subtitle>
            <ion-card-subtitle><p>2012 - 52,300 km</p></ion-card-subtitle>
            <ion-row class="search-location">
              <ion-col class="ion-no-padding search-address" size="9">
                <ion-icon name="location-outline"></ion-icon><p>5600 W Sahara Ave</p> 
              </ion-col>
              <ion-col class="ion-no-padding ion-text-end search-date" size="3">
                03 Apr
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card> 
  </div> 
</div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerDirection="forward" routerLink="/dashboard">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label color="secondary">Search</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="openVehicleForm()">
          <ion-icon name="add-outline"></ion-icon>
          <ion-label >New Vehicle</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" >
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>