
<ion-header class="search-header">
  <ion-toolbar>
    <ion-tabs class="top-tab">
      <ion-tab-bar slot="top">
        <ion-tab-button tab="viso">
          <ion-label color="primary">Viso</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="number-now">
          <ion-label color="primary">Number Now</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="gotta-go">
          <ion-label color="primary">Gotta Go</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="saved">
          <ion-label color="primary">Saved</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-outer">
    <div class="search-container">
      <ion-text color="primary" class="color-secondary ion-text-uppercase ion-text-center"><h6>Search Available Vehicle Inventory</h6></ion-text>
      <div class="search-form-section">
        <form>
          <ion-grid>
            <ion-row>
              <ion-col class="search-top">
                <ion-icon class="search-icon" color="dark" name="search-outline"></ion-icon>
                <ion-input [(ngModel)]="postData.search_text" name="search_text" class="pl" required type="text" name="s" placeholder="Search by name"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row class="select-outer-box">
              <ion-col>
                <ion-select [(ngModel)]="postData.vehicle_make_year" name="vehicle_make_year" class="select-input" placeholder="Year">
                  <ion-select-option value=""> Select Make Year </ion-select-option>
                  <ion-select-option value="2021">2021</ion-select-option>
                  <ion-select-option value="2020">2020</ion-select-option>
                  <ion-select-option value="2019">2019</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col>
                <ion-select *ngIf="vehicleMake" [(ngModel)]="postData.vehicle_make_id" name="vehicle_make_id" class="select-input" placeholder="Select Make" (ionChange)="vehicleModels()">
                  <ion-select-option value=""> Select Make </ion-select-option>
                  <ion-select-option *ngFor="let make of vehicleMake" [value]="make.make_id"> {{make.make_title}}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col>
                <ion-select *ngIf="vehicleModel else modelPlaceholder" [(ngModel)]="postData.vehicle_model_id" name="vehicle_model_id" class="select-input" placeholder="Select Model">
                  <ion-select-option value=""> Select Model </ion-select-option>
                  <ion-select-option *ngFor="let model of vehicleModel" [value]="model.model_id"> {{model.model_title}}</ion-select-option>
                </ion-select>

                <ng-template #modelPlaceholder>
                  <ion-select [(ngModel)]="postData.vehicle_model_id" name="vehicle_model_id" class="select-input" placeholder="Select Model">
                    <ion-select-option value=""> Select Model </ion-select-option>
                  </ion-select>
                </ng-template>
              </ion-col>
              <ion-col>
                <ion-button (click)="getVehicles()" type="submit" class="primary-button"shape="round" >Search</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </div>

    <div class="content-view-options">
      <ion-row class="ion-text-center ion-border-bottom border-primary list-view">
        <!--<ion-col class="ion-padding">
          <ion-text color="primary"><h5>Grid View</h5></ion-text>
        </ion-col>
        <ion-col class="ion-border-bottom border-secondary ion-padding">
          <ion-text color="secondary"><h5>List View</h5></ion-text>
        </ion-col>-->
        <ion-segment 
        value="all" 
        color="tertiary" 
        scrollable="true"
        mode="ios"
        [(ngModel)]="layoutModel" 
        (ionChange)="layoutChanged($event)" class="ion-no-padding ion-padding-top segment-tab bg-dark">

          <ion-segment-button value="grid">
            <ion-label>Grid View</ion-label>
          </ion-segment-button>

          <ion-segment-button value="list">
            <ion-label>List View</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
    </div>

    <div class="content-container">
      <div *ngIf="layoutModel === 'grid'" class="grid-list">
          <ion-row >
            <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let vehicle of vehicles" class="ion-no-padding ion-col-width">
              <app-product-grid-view [vehicle]="vehicle" [addedToBookMark]="wishList.indexOf(vehicle.vehicle_id) >= 0" ></app-product-grid-view>
            </ion-col>
          </ion-row>
      </div>
    
      <div *ngIf="layoutModel === 'list'">
        <ion-card *ngFor="let vehicle of vehicles" class="card">
          <app-product-list-view [vehicle]="vehicle" [addedToBookMark]="wishList.indexOf(vehicle.vehicle_id) >= 0"></app-product-list-view>
        </ion-card> 
      </div> 

    </div>    
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerDirection="forward" routerLink="/dashboard">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/search">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label color="secondary">Search</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="openVehicleForm()">
          <ion-icon name="add-outline"></ion-icon>
          <ion-label >New Vehicle</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="notifications" >
          <ion-icon name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
        <ion-tab-button routerDirection="forward" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>