.footer-layout {text-align: center;position: absolute;left: 0;right: 0;bottom: 5%;transform: translateY(-50%);}
.custom-font{ font-family: 'Montserrat-Bold';}
.home #container p{font-size:0.813rem;font-family: Montserrat-Medium;color: #999999;}
.home{ padding-top: 4.375rem;}
.home h1{padding-top: 0.25rem;}
.home h1.mt-t {margin-top:1rem;}
.home p.pt {padding-top: 7px;}
.home .primary-button {margin-top: 1.200rem; text-transform: uppercase; }
