<div class="grid-list-view">
<div *ngIf="showBookmarkIcon">
  <div class="bookmark-box">
  <div *ngIf="!addedToBookMark" class="bookmark-icon inactive" (click)="handleAddToBookmark()">
    <ion-icon name="bookmark-outline"></ion-icon>
  </div>
</div>
<div class="bookmark-box">
  <div *ngIf="addedToBookMark" class="bookmark-icon active" (click)="handleRemoveFromBookmark()">
    <ion-icon name="bookmark" ></ion-icon>
  </div>
</div>
</div>

<ion-thumbnail>
  <img *ngIf="vehicle.vehicle_image else placeholderImage" class="img-wrapper" [routerLink]="['/','car-details', vehicle.vehicle_id]" src="{{'data:image/jpeg;base64,' + vehicle.vehicle_image}}">

  <ng-template #placeholderImage>
    <img class="img-wrapper" [routerLink]="['/','car-details', vehicle.vehicle_id]" src="../assets/images/car-lg.png">
  </ng-template>
</ion-thumbnail>

<div class="list-title"><h6>{{ vehicle.model.model_title }}</h6></div>
</div>